body.page.page-crea-tu-limpiador-de-mails {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  font-family: $theme-main-font;
  @media (min-width: 1450px) {
    margin-top: 120px;
  }
  main {
    min-height: auto;

    section.mobile-only {
      padding: 150px 30px;
      p:nth-of-type(1) {
        font-size: 28px;
        text-align: center;
        @media (min-width: 1450px) {
          width: 776px;
          font-size: 26px;
          margin: 0 auto;
        }
      }
      p:nth-of-type(2) {
        @include mob-middle-title;
        font-family: $theme-second-font;
        text-transform: uppercase;
        text-align: center;
        color: $theme-coral;
        padding: 20px 0 50px;
        @media (min-width: 1450px) {
          width: 776px;
          font-size: 95px;
          margin: 0 auto;
        }
      }
      p:nth-of-type(3) {
        font-size: 28px;
        text-align: center;
        padding-bottom: 20px;
      }
      p:nth-of-type(4) {
        font-family: $theme-second-font;
        text-transform: uppercase;
        @include mob-middle-title;
        text-align: center;
        color: $theme-yellow;
        @media (min-width: 1450px) {
          width: 776px;
          font-size: 95px;
          margin: 0 auto;
        }
      }

      @media (min-width: 1450px) {
        display: none;
      }
    }

    section#programa-su-eliminacion {
      display: none;
      @media (min-width: 1450px) {
        display: block;
      }
    }

    section.desktop-create-script {
      display: none;
      @media (min-width: 1450px) {
        display: block;
      }
    }

    section.desktop-create-script {
      padding: 100px 16px 150px;
      h1 {
        @include dkp-big-two-title;
        font-family: $theme-second-font;
        text-transform: uppercase;
        text-align: center;
        color: $theme-light-blue;
        width: 822px;
        margin: auto;
      }
      p:nth-of-type(1) {
        font-size: 40px;
        text-align: center;
        padding-bottom: 55px;
      }
      p:nth-of-type(2) {
        font-size: 20px;
        text-align: center;
        padding-bottom: 55px;
        width: 862px;
        margin: auto;
      }
      p:nth-of-type(3) {
        font-size: 20px;
        text-align: center;
        padding-bottom: 55px;
        width: 862px;
        margin: auto;
      }
      .intro-article {
        position: relative;
        z-index: 5;
        background-color: $theme-dark-blue;
      }
      div.inner-intro-article-div {
        display: flex;
        flex-direction: row;
        width: 1182px;
        align-items: baseline;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 150px;
        div.steps-inner-div {
          p:nth-of-type(1) {
            @include dkp-biger-title;
            font-family: $theme-second-font;
            text-transform: uppercase;
            text-align: center;
            color: $theme-yellow;
            padding-bottom: 0;
          }
          p:nth-of-type(2) {
            @include dkp-biger-title;
            font-weight: 400;
            font-size: 40px;
            text-align: center;
            width: 380px;
          }
          &:nth-of-type(2) {
            p:nth-of-type(1) {
              color: $theme-lila;
            }
          }
          &:nth-of-type(3) {
            p:nth-of-type(1) {
              color: $theme-coral;
            }
          }
        }
      }
    }
    #programa-su-eliminacion {
      font-size: 16px;
    }

    .slide-container {
    }

    .slide {
      font-size: 32px;
      margin: auto;
      display: flex;
      width: auto;
      display: flex;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      scroll-margin-top: 100px; /* Ajusta según lo que necesites */
    }

    .slide > * {
      margin: auto;
    }

    .bullets {
      position: fixed;
      top: 500px;
      right: 44px;
      z-index: 1;
    }
    section.newsletter {
      padding: 140px 34px 80px;
      text-align: center;
    
      p:nth-of-type(1) {
        font-size: 20px;
        margin-bottom: 20px;
        @media (min-width: 1450px) {
          font-size: 26px;
        }
      }
      p.two-text {
        color: $theme-yellow;
        margin-bottom: 20px;
        font-family: $theme-second-font;
        @include mob-biger-title;
        text-transform: uppercase;
        padding: 0 50px;
        @media (min-width: 1450px) {
          @include dkp-big-title;
        }
      }
      p:nth-of-type(3) {
        font-size: 20px;
        margin-bottom: 34px;
        @media (min-width: 1450px) {
          font-size: 26px;
        }
      }
    
      .form-newsletter {
        p {
          font-size: 14px;
          margin-bottom: 34px;
          font-style: italic;
          padding: 34px 0;
          @media (min-width: 1450px) {
            width: 456px;
            margin: 0 auto;
            text-align: center;
          }
    
          a {
            color: $theme-lila;
          }
        }
        input {
          color: white;
          background-color: transparent;
          border: solid 1px #d7e9f4;
          padding: 13px 20px;
          border-radius: 50px;
          width: 100%;
          @media (min-width: 1450px) {
            width: 456px;
            margin: 0 auto;
          }
    
          &::placeholder {
            color: white;
          }
          &::-webkit-input-placeholder {
            color: white;
          }
    
          &:-moz-placeholder {
            color: white;
          }
    
          &::-moz-placeholder {
            color: #ff5733; /* Firefox 19+ */
          }
    
          &:-ms-input-placeholder {
            color: white;
          }
        }
        button {
          @include lila-button;
          top: 0;
          border: none;
        }
      }
    }
  }
  div.slide-container {
    div.email-script-generator {
      background: linear-gradient(to bottom, rgba(255, 186, 73, 0.6));
      width: 700px;
      margin: 0 auto;
      p:nth-of-type(1) {
        font-size: 17px;
        padding: 0;
        padding-top: 130px;
      }
      h2 {
        @include dkp-biger-title;
        text-align: center;
        color: $theme-yellow;
        text-align: center;
        padding-bottom: 204px;
      }
      #email-script-form {
        p:nth-of-type(1) {
          @include dkp-middle-title;
          font-family: $theme-second-font;
          text-transform: uppercase;
          text-align: left;
          padding: 0;
          color: $theme-yellow;
        }
        p:nth-of-type(2) {
          @include dkp-middle-title;
          font-family: $theme-second-font;
          text-transform: uppercase;
          text-align: left;
          padding: 0;
          color: white;
        }
        p:nth-of-type(3) {
          font-size: 28px;
          text-align: left;
          padding: 0;
          color: white;
        }
        p:nth-of-type(4) {
          font-size: 20px;
          text-align: left;
          padding: 43px 0 104px;
          color: white;
        }
        div.checkboxs-div {
          width: 442px;
          padding-bottom: 80px;
          label {
            font-size: 26px;
            padding: 10px 10px;
            border: solid 1px;
            display: inline-block;
            border-radius: 60px;
            margin-right: 13px;
            margin-bottom: 13px;
            cursor: pointer;
          }
          input[type="checkbox"] {
            width: 20px; /* Ajusta según el tamaño deseado */
            height: 20px;
            border-radius: 50%; /* Cambia a '50%' para hacerlos completamente redondos */
            appearance: none; /* Elimina el estilo por defecto del checkbox */
            outline: 2px solid white; /* Opcional: agrega un contorno visible */
            cursor: pointer;
          }

          input[type="checkbox"]:checked {
            background-color: $theme-dark-blue; /* Color del checkbox cuando está seleccionado */
            border: solid 1px white;
          }
        }
        div.more-words-div {
          p:nth-of-type(1) {
            text-align: left;
            font-size: 28px;
            color: $theme-yellow;
            font-family: $theme-main-font;
            text-transform: none;
            font-weight: 400;
          }
          p:nth-of-type(2) {
            text-align: left;
            padding: 0;
            color: white;
            font-size: 20px;
            font-family: $theme-main-font;
            text-transform: none;
            font-weight: 400;
            width: 580px;
            padding: 25px 0 77px;
            margin-left: 0;
          }
          div.more-words-div-conteiner {
            display: flex;
            flex-direction: column;
            align-items: left;
            label {
              margin-bottom: 13px;
            }
            input {
              padding: 10px 10px;
              border: solid 1px white;
              background-color: transparent;
              color: #d7e9f4;
              display: inline-block;
              border-radius: 60px;
              margin-bottom: 13px;
              width: 345px;
            }
          }
        }
        #generate-script-acept {
          width: 20px; /* Ajusta según el tamaño deseado */
          height: 20px;
          border-radius: 50%; /* Cambia a '50%' para hacerlos completamente redondos */
          appearance: none; /* Elimina el estilo por defecto del checkbox */
          outline: 2px solid white; /* Opcional: agrega un contorno visible */
          cursor: pointer;
          margin-right: 13px;
        }
        .condition-label {
          display: flex;
          align-items: center;
          margin: 20px 0;
          font-size: 20px;
          input[type="checkbox"]:checked {
            background-color: #61efa3;
            width: 30px !important;
            height: 30px !important;
          }
        }
        input[type="submit"] {
          @include script-btns;
        }
      }
      #generated-script {
        display: none;
      }
      #generated-script.generated {
        display: block;
        width: 100%;
        height: 600px;
        border-radius: 27px;
        background-color: transparent;
        border: solid 2px white;
        color: white;
        padding: 20px;
      }
      #horabuena {
        text-align: left;
        font-size: 28px;
        color: $theme-yellow;
        font-family: $theme-main-font;
        text-transform: none;
        font-weight: 400;
        margin-bottom: 15px;
      }
      #copy-script-button {
        display: none;
      }
      #copy-script-button.copy-btn-generated {
        display: block;
        @include script-btns;
        margin-bottom: 15px;
      }
      #copy-success-message {
        text-align: left;
      }
      div#copy-container {
        display: none;
      }
      div#copy-container.show-container {
        display: block;
        background: linear-gradient(to right, #904ca3, #c05277, #dd5353);
        padding: 84px 32px 29px;
        border-radius: 20px;
        padding-top: 30px;
        text-align: center;
        margin-top: 100px;
        #text-viva {
          @include dkp-biger-title;
          text-align: center;
          color: white;
          text-align: center;
          padding-bottom: 20px;
          width: auto;
          padding-top: 0;
        }
        #text-viva-card {
          font-size: 20px;
          text-align: center;
          color: white;
          text-align: center;
          width: auto;
        }
      }
    }

    section.slide-two-container {
      background: linear-gradient(to bottom, $theme-dark-lila);
      width: 700px;
      margin: 0 auto;
      p:nth-of-type(1) {
        font-size: 17px;
        padding: 0;
        padding-top: 130px;
      }
      h2 {
        @include dkp-biger-title;
        text-align: center;
        color: $theme-dark-lila;
        text-align: center;
        padding-bottom: 204px;
        text-transform: uppercase;
        font-family: $theme-second-font;
      }
      p.steps-titles {
        @include dkp-middle-title;
        font-family: $theme-second-font;
        text-transform: uppercase;
        text-align: left;
        padding: 0;
        color: $theme-dark-lila;
      }
      p.steps-subtitles {
        @include dkp-middle-title;
        font-family: $theme-second-font;
        text-transform: uppercase;
        text-align: left;
        padding: 0;
        color: white;
        padding-bottom: 70px;
      }
      p:nth-of-type(4) {
        font-size: 20px;
        text-align: left;
        padding: 0 0 30px;
        color: white;
      }

      a {
        @include script-btns;
        display: block;
        width: 200px;
        background-color: $theme-dark-lila;
        color: white;
        margin-top: 0;
        margin-bottom: 70px;
      }

      p.text-finished-first-step {
        font-size: 28px;
        color: white;
        background: linear-gradient(to right, #d0bdf0, #744fc6, #3b2563);
        padding: 22px 30px;
        margin-bottom: 70px;
        border-radius: 20px;
        text-align: center;
      }
      p.text-finished-snd-step {
        font-size: 28px;
        color: $theme-lila;
        background: transparent;
        padding: 22px 30px;
        margin-bottom: 70px;
        border-radius: 20px;
        text-align: center;
        border: solid 1px $theme-lila;
      }
    }
    section.slide-three-container {
      background: linear-gradient(to bottom, $theme-coral);
      width: 700px;
      margin: 0 auto;
      p:nth-of-type(1) {
        font-size: 17px;
        padding: 0;
        padding-top: 130px;
      }
      h2 {
        @include dkp-biger-title;
        text-align: center;
        color: $theme-coral;
        text-align: center;
        padding-bottom: 204px;
        text-transform: uppercase;
        font-family: $theme-second-font;
      }
      p.steps-titles {
        @include dkp-middle-title;
        font-family: $theme-second-font;
        text-transform: uppercase;
        text-align: left;
        padding: 0;
        color: $theme-coral;
      }
      p.steps-subtitles {
        @include dkp-middle-title;
        font-family: $theme-second-font;
        text-transform: uppercase;
        text-align: left;
        padding: 0;
        color: white;
        padding-bottom: 70px;
      }
      p:nth-of-type(4) {
        font-size: 20px;
        text-align: left;
        padding: 0 0 30px;
        color: white;
      }

      a {
        @include script-btns;
        display: block;
        width: 200px;
        background-color: $theme-coral;
        color: white;
        margin-top: 0;
        margin-bottom: 70px;
      }

      p.text-finished-first-step {
        font-size: 28px;
        color: white;
        background: linear-gradient(to right, #d0bdf0, #744fc6, #3b2563);
        padding: 22px 30px;
        margin-bottom: 70px;
        border-radius: 20px;
        text-align: center;
      }
      p.text-finished-snd-step {
        font-size: 28px;
        color: $theme-lila;
        background: transparent;
        padding: 22px 30px;
        margin-bottom: 70px;
        border-radius: 20px;
        text-align: center;
        border: solid 1px $theme-coral;
      }

      div.you-did-it {
        display: block;
        background: linear-gradient(to right, #EF6461, #8B2E2B);
        padding: 84px 32px 29px;
        border-radius: 20px;
        padding-top: 30px;
        text-align: center;
        margin-top: 100px;
        p.text-viva {
          @include dkp-biger-title;
          text-align: center;
          color: white;
          text-align: center;
          padding-bottom: 20px;
          width: auto;
          padding-top: 0;
          font-family: $theme-second-font;
          text-transform: uppercase;
        }
        p.text-viva-card {
          font-size: 20px;
          text-align: center;
          color: white;
          text-align: center;
          width: auto;
        }
      }
    }
  }
  p.instructions-text {
    padding: 0;
    margin: 0;
    text-align: left;
    padding-bottom: 17px;
    font-size: 20px;
  }
}
#section-main-slide-two {
  scroll-margin-top: 50px; /* Ajusta según lo que necesites */
}
body {
  &.slide-1-active {
    #slide-1 {
      padding-bottom: 750px;
      scroll-margin-top: 50px; /* Ajusta según lo que necesites */
      opacity: 1;
      background: linear-gradient(
        to bottom,
        rgba(255, 186, 73, 0.6),
        /* Amarillo translúcido */ rgba(255, 186, 73, 0) 33% /* Transparente al final del primer tercio */
      );
    }
    .slide-one-li {
      color: $theme-yellow;
    }
  }
  &.slide-2-active {
    #slide-2 {
      padding-bottom: 750px;
      scroll-margin-top: 100px; /* Ajusta según lo que necesites */
      opacity: 1;
      background: linear-gradient(
        to bottom,
        #2e1950,
        /* Color inicial */ rgba(151, 71, 255, 0) 33% /* Transparente al final del primer tercio */
      );
    }
    .slide-two-li {
      color: $theme-dark-lila;
    }
  }
  &.slide-3-active {
    #slide-3 {
      padding-bottom: 350px;
      scroll-margin-top: 100px; /* Ajusta según lo que necesites */
      opacity: 1;
      background: linear-gradient(
        to bottom,
        #2e1950,
        /* Color inicial */ rgba(151, 71, 255, 0) 33% /* Transparente al final del primer tercio */
      );
    }
    .slide-three-li {
      color: $theme-coral;
    }
  }
}

body.page.page-desinstala-tu-script {
  margin-top: 60px;
  font-family: $theme-main-font;
  @media (min-width: 1450px) {
    margin-top: 120px;
  }
  main {
    min-height: auto;

    section.mobile-only {
      padding: 130px 30px;
      h1 {
        font-family: $theme-second-font;
        @include mob-middle-title;
        text-transform: uppercase;
        text-align: center;
        color: $theme-coral;
        margin-bottom: 30px;
        line-height: 37px;
        -webkit-text-stroke: 0.2px #1a1030;
        span {
          color: white;
          display: block;
        }
      }
      p {
        font-size: 16px;
        text-align: center;
      }
      p:nth-of-type(2) {
        font-weight: bold;
        text-decoration: underline;
        padding-top: 30px;
      }
      @media (min-width: 1450px) {
        display: none;
      }
    }

    section.delete-script {
      display: none;
      @media (min-width: 1450px) {
        display: block;
      }
    }
  }
}

body.page.page-crea-tu-limpiador-de-mails {
  section.slide-two-container {
    figure.instructions-figure-container {
      margin-bottom: 70px;
      figcaption {
        p.instructions-text {
          padding: 0;
          margin: 0;
          text-align: left;
          padding-bottom: 17px;
          font-size: 20px;
        }
      }
      img {
        width: 580px;
      }
    }
  }
  
  
}
body.page.page-crea-tu-limpiador-de-mails {
  section.slide-three-container {
    figure.instructions-figure-container {
      margin-bottom: 70px;
      figcaption {
        p.instructions-text {
          padding: 0;
          margin: 0;
          text-align: left;
          padding-bottom: 17px;
          font-size: 20px;
        }
      }
      img {
        width: 580px;
      }
    }
  }
}

