body.page.page-crea-tu-limpiador-de-mails {
  padding-top: 60px;
  main {
    min-height: auto;

    section.mobile-only {
      padding: 150px 30px;
      p:nth-of-type(1) {
        font-size: 28px;
        text-align: center;
        @media (min-width: 1450px) {
          width: 776px;
          font-size: 26px;
          margin: 0 auto;
        }
      }
      p:nth-of-type(2) {
        font-family: $theme-second-font;
        text-transform: uppercase;
        font-size: 36px;
        text-align: center;
        color: $theme-coral;
        padding: 20px 0 50px;
        @media (min-width: 1450px) {
          width: 776px;
          font-size: 95px;
          margin: 0 auto;
        }
      }
      p:nth-of-type(3) {
        font-size: 28px;
        text-align: center;
        padding-bottom: 20px;
      }
      p:nth-of-type(4) {
        font-family: $theme-second-font;
        text-transform: uppercase;
        font-size: 36px;
        text-align: center;
        color: $theme-yellow;
        @media (min-width: 1450px) {
          width: 776px;
          font-size: 95px;
          margin: 0 auto;
        }
      }

      @media (min-width: 1450px) {
        display: none;
      }
    }

    section#programa-su-eliminacion {
      display: none;
      @media (min-width: 1450px) {
        display: block;
      }
    }

    section.desktop-create-script {
      display: none;
      @media (min-width: 1450px) {
        display: block;
      }
    }
  }
}

body.page.page-desinstala-tu-script {
  padding-top: 60px;
  main {
    min-height: auto;

    section.mobile-only {
      padding: 130px 30px;
      h1 {
        font-family: $theme-second-font;
        text-transform: uppercase;
        font-size: 32px;
        text-align: center;
        color: $theme-coral;
        margin-bottom: 30px;
        line-height: 37px;
        -webkit-text-stroke: 0.2px #1a1030; 
        span {
          color: white;
          display: block;
        }
      }
      p {
        font-size: 16px;
        text-align: center;
      }
      p:nth-of-type(2) {
        font-weight: bold;
        text-decoration: underline;
        padding-top: 30px;
      }
      @media (min-width: 1450px) {
        display: none;
      }
    }

    section.delete-script {
      display: none;
      @media (min-width: 1450px) {
        display: block;
      }
    }
  }
}
