p.top-title-pages {
	font-family: $theme-second-font;
	@include mob-smaller-title;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	background-color: $theme-darker-lila;
	padding: 10px 0;
	@media (min-width: 1400px) {
		@include dkp-smaller-title;
	}
}

body.page.error404 {
	padding-top: 60px;
	font-family: $theme-main-font;
	@media (min-width: 1400px) {
		padding-top: 120px;
	}

	section.error-section {
		padding: 80px 20px;

		p:nth-of-type(1) {
			font-family: $theme-second-font;
			text-transform: uppercase;
			@include mob-middle-title;
			text-align: center;
			color: $theme-coral;
			-webkit-text-stroke: 0.2px #1a1030;
			@media (min-width: 1400px) {
				@include dkp-big-two-title;
			}
		}
		h1 {
			font-family: $theme-second-font;
			text-transform: uppercase;
			@include mob-error-font;
			text-align: center;
			color: $theme-coral;
			margin-bottom: 90px;
			margin-top: 28px;
			-webkit-text-stroke: 0.2px #1a1030;
			@media (min-width: 1400px) {
				@include dkp-error-font;
			}
		}
		p:nth-of-type(2) {
			font-family: $theme-second-font;
			text-transform: uppercase;
			@include mob-small-title;
			text-align: center;
			color: $theme-lila;
			-webkit-text-stroke: 0.2px #1a1030;
			margin: 0 auto;
			margin-bottom: 60px;
			@media (min-width: 1400px) {
				@include dkp-big-two-title;
				max-width: 740px;
			}
		}
		p {
			font-size: 28px;
			text-align: center;
			@media (min-width: 1400px) {
				font-size: 34px;
			}
		}

		img {
			padding: 60px 0 90px;
			display: block;
			margin: 0 auto;
			width: 352px;
		}
		iframe {
			width: 352px;
			left: 0;
			right: 0;
			margin: auto;
		}
		div {
			width: 352px;
			margin: 0 auto;
		}
		a {
			@include lila-button;
			top: 0;
			margin-top: 50px;
			text-align: center;
		}
	}
}

body.page.page-fuentes {
	padding-top: 60px;
	font-family: $theme-main-font;
	@media (min-width: 1400px) {
		padding-top: 120px;
	}
	main {
		padding: 130px 30px;
		position: relative;

		p.top-title-pages {
			position: absolute;
			top: 0px;
			width: 100%;
			left: 0;
		}

		h1 {
			font-family: $theme-second-font;
			text-transform: uppercase;
			@include mob-small-title;
			text-align: center;
			color: $theme-yellow;
			margin: 0 auto;
			margin-bottom: 17px;
			-webkit-text-stroke: 0.2px #1a1030;
			@media (min-width: 1400px) {
				@include dkp-big-title;
				max-width: 572px;
			}
		}
		span {
			text-align: center;
			color: white;
			font-weight: bold;
			font-size: 20px;
			max-width: 572px;
			display: block;
			margin: 0 auto;
			margin-bottom: 100px;
			@media (min-width: 1400px) {
				max-width: 333px;
			}
		}
		section.source-inner-container {
			margin-top: 130px 0 30px;

			@media (min-width: 1400px) {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				width: 1336px;
				flex-wrap: wrap;
				margin: 0 auto;
				margin-top: 135px;
			}

			article.source-card {
				margin-bottom: 100px;
				@media (min-width: 1400px) {
					height: 250px;
					width: 562px;
					margin-bottom: 135px;
				}
				p:nth-of-type(1) {
					font-size: 16px;
					text-align: center;
					color: $theme-yellow;
					margin-bottom: 20px;
					@media (min-width: 1400px) {
						font-size: 27px;
					}
				}
				p:nth-of-type(2) {
					font-size: 28px;
					text-align: center;
					color: $theme-lila;
					margin-bottom: 12px;
					@media (min-width: 1400px) {
						font-size: 50px;
					}
				}
				p:nth-of-type(3) {
					font-size: 20px;
					text-align: center;
					color: white;
					margin-bottom: 20px;
					@media (min-width: 1400px) {
						font-size: 34px;
					}
				}
				a {
					@include aqui-la-fuente;
					display: block;
					margin: 0 auto;
					text-align: center;
				}
			}
		}
	}
}

body.page.page-sign {
	margin-top: 60px;
	@media (min-width: 1400px) {
		margin-top: 120px;
	}

	section.section-count-signers {
		background: linear-gradient(to right, #dd5353, #c05277, #904ca3);
		padding: 84px 32px 29px;
		@media (min-width: 1400px) {
			padding: 120px 340px;
		}
		article.article-counter {
			display: none;
		}
		article.article-intro-counter {
			p {
				font-size: 20px;
				text-align: center;
				@media (min-width: 1400px) {
					font-size: 40px;
				}
			}
		}
	}

	section.section-what-how-why {
		padding: 150px 30px 80px;
		article {
			padding-bottom: 70px;
			@media (min-width: 1400px) {
				width: 391px;
			}
			h5 {
				@include mob-cap-title;
				font-family: $theme-second-font;
				text-align: center;
				text-transform: uppercase;
				color: $theme-yellow;
				padding-bottom: 30px;
				@media (min-width: 1400px) {
					font-size: 36px;
				}
			}
			p {
				font-size: 16px;
				text-align: center;
				line-height: 130%;
				@media (min-width: 1400px) {
					font-size: 20px;
				}
			}
		}
		@media (min-width: 1400px) {
			display: flex;
			align-items: first baseline;
			justify-content: space-between;
			width: 1400px;
			margin: 0 auto;
		}
	}
	section.mail-to {
		text-align: center;
		padding: 0 30px 150px;
		@media (min-width: 1400px) {
			font-size: 20px;
		}
		a {
			color: $theme-yellow;
		}
	}

	section.sumate-section {
		text-align: center;
		padding: 0 40px;
		p:nth-of-type(1) {
			@include mob-big-title;
			color: $theme-yellow;
			font-family: $theme-second-font;
			text-transform: uppercase;
			@media (min-width: 1400px) {
				@include dkp-big-title;
				width: 638px;
				margin: 0 auto;
			}
		}
		p:nth-of-type(2) {
			font-size: 28px;
			margin-bottom: 30px;
			@media (min-width: 1400px) {
				width: 400px;
				margin: 0 auto;
				margin-bottom: 24px;
			}
		}
		p:nth-of-type(3) {
			font-size: 16px;
			@media (min-width: 1400px) {
				width: 500px;
				margin: 0 auto;
				margin-bottom: 24px;
				font-size: 20px;
			}
		}
	}

	section.form-section {
		padding: 30px 40px 180px;
		@media (min-width: 1400px) {
			padding-bottom: 160px;
		}
		form#form-petitorio {
			input {
				color: white;
				background-color: transparent;
				border-radius: 20px;
				border: solid 1px white;
				padding: 13px 20px;
				display: block;
				margin: 0 auto;
				margin-bottom: 30px;
				@media (min-width: 1400px) {
					width: 480px;
				}
			}
			label {
				padding-bottom: 10px;
				display: block;
				text-align: center;

				@media (min-width: 1400px) {
					width: 480px;
					font-size: 20px;
					width: 480px;
					font-size: 20px;
					display: block;
					margin: auto;
					padding-bottom: 8px;
				}
			}
			button {
				@include lila-button;
				top: 0;
				text-align: center;
				border: none;
			}
		}
	}
}

.mensaje {
	max-width: 363px;
    height: 243px;
    border: solid 1px #744fc6;
    box-shadow: 0 0 6px #744fc6;
    border-radius: 15px;
    margin: 0 20px;
    margin: auto;
    padding: 15px;
    text-align: center;
    margin-top: 35px;
}
.succes-one {
	font-weight: bold;
	line-height: 110%;
	font-size: 40px;
	color: #ffba49;
}
.succes-two {
	font-size: 25px;
    font-weight: bold;
    margin: 0 25px;
	color: white;
}

#mensaje-error {
	background-color: #f8d7da;
	color: #721c24;
}
