body.page.error404 {
	padding-top: 60px;
	font-family: $theme-main-font;
	@media (min-width: 1450px) {
		padding-top: 120px;
	}

	section.error-section {
		padding: 80px 20px;

		p:nth-of-type(1) {
			font-family: $theme-second-font;
			text-transform: uppercase;
			font-size: 38px;
			text-align: center;
			color: $theme-coral;
			-webkit-text-stroke: 0.2px #1a1030;
			@media (min-width: 1450px) {
				font-size: 50px;
			}
		}
		h1 {
			font-family: $theme-second-font;
			text-transform: uppercase;
			font-size: 122px;
			text-align: center;
			color: $theme-coral;
			margin-bottom: 90px;
			margin-top: 28px;
			-webkit-text-stroke: 0.2px #1a1030;
			@media (min-width: 1450px) {
				font-size: 235px;
			}
		}
		p:nth-of-type(2) {
			font-family: $theme-second-font;
			text-transform: uppercase;
			font-size: 30px;
			text-align: center;
			color: $theme-lila;
			-webkit-text-stroke: 0.2px #1a1030;
			margin: 0 auto;
			margin-bottom: 60px;
			@media (min-width: 1450px) {
				font-size: 50px;
				max-width: 740px;
			}
		}
		p {
			font-size: 28px;
			text-align: center;
			@media (min-width: 1450px) {
				font-size: 34px;
			}
		}

		img{
			padding: 60px 0 90px;
			display: block;
			margin: 0 auto;
			width: 352px;
		}
		iframe {
			width: 352px;
			left: 0;
			right: 0;
			margin: auto;
		}
		div {
			width: 352px;
			margin: 0 auto;
		}
		a {
			@include lila-button;
			top: 0;
			margin-top: 50px;
			text-align: center;
		}
	}
}

body.page.page-fuentes {
	padding-top: 60px;
	font-family: $theme-main-font;
	@media (min-width: 1450px) {
		padding-top: 120px;
	}
	main {
		padding: 130px 30px;

		h1 {
			font-family: $theme-second-font;
			text-transform: uppercase;
			font-size: 28x;
			text-align: center;
			color: $theme-yellow;
			margin: 0 auto;
			margin-bottom: 17px;
			-webkit-text-stroke: 0.2px #1a1030;
			@media (min-width: 1450px) {
				font-size: 95px;
				max-width: 572px;
			}
		}
		span {
			text-align: center;
			color: white;
			font-weight: bold;
			font-size: 20px;
			max-width: 572px;
			display: block;
			margin: 0 auto;
			margin-bottom: 100px;
			@media (min-width: 1450px) {
				max-width: 333px;
			}
		}
		section.source-inner-container {
			margin-top: 130px 0 30px;

			@media (min-width: 1450px) {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				width: 1336px;
				flex-wrap: wrap;
				margin: 0 auto;
				margin-top: 135px;
				
			}

			article.source-card {
				margin-bottom: 100px;
				@media (min-width: 1450px) {
					height: 250px;
					width: 562px;
					margin-bottom: 135px;
				}
				p:nth-of-type(1) {
					font-size: 16px;
					text-align: center;
					color: $theme-yellow;
					margin-bottom: 20px;
					@media (min-width: 1450px) {
						font-size: 27px;
					}
				}
				p:nth-of-type(2) {
					font-size: 28px;
					text-align: center;
					color: $theme-lila;
					margin-bottom: 12px;
					@media (min-width: 1450px) {
						font-size: 50px;
					}
				}
				p:nth-of-type(3) {
					font-size: 20px;
					text-align: center;
					color: white;
					margin-bottom: 20px;
					@media (min-width: 1450px) {
						font-size: 34px;
					}
				}
				a {
					@include aqui-la-fuente;
					display: block;
					margin: 0 auto;
					text-align: center;
				}
			}
		}
	}
}

body.page.page-sign {
	margin-top: 150px;

	section.section-count-signers {
		display: none;
	}
}