@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries */
@mixin media-tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin media-desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin lila-button {
    display: block;
    top: 381px;
    position: relative;
    color: #fff;
    background-color: #744fc6;
    padding: 15px;
    border-radius: 60px;
    width: 167px;
    margin: 0 auto;
}

@mixin aqui-la-fuente {
    color: $theme-lila;
    text-decoration: underline;
    font-style: italic;
}

@mixin social-media-languages {
    padding: 30px 39px 0;
    @media (min-width: 1450px) {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    div.languages {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        p {
            margin: 0;
        }
        details {
            position: relative;
        }
        summary {
            cursor: pointer;
            list-style: none;
        }
        img {
            width: 17px;
            vertical-align: text-bottom;
        }
        img.arrow-icon {
            width: 13px;
            vertical-align: middle;
            margin-left: 3px;
        }
        img.en {
            margin-right: 5px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none; /* Elimina viñetas */
            position: absolute; /* Hace que el menú desplegable se superponga */
            top: 100%; /* Coloca el contenido debajo del resumen */
            left: 0;
            display: none; /* Oculta el menú inicialmente */
        }
        details[open] ul {
            display: block; /* Muestra el contenido al abrir el dropdown */
        }

        a {
            display: flex;
            text-decoration: none;
            color: #fff;
            margin-top: 5px;
        }

        a:hover {
            font-weight: bold;
        }
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 50px;
        margin-bottom: 66px;

        li {
            margin-right: 15px;
            width: 23px;
            height: 23px;
            font-size: 16px;
        }
    }
}

/* FONTS MOBILE */

@mixin mob-smaller-title {
    font-weight: 900;
    line-height: 130%;
    font-size: 16px;
}
@mixin mob-small-title {
    font-weight: 900;
    line-height: 100%;
    font-size: 28px;
}
@mixin mob-cap-title {
    font-weight: 900;
    line-height: 130%;
    font-size: 35px;
}
@mixin mob-middle-title {
    font-weight: 900;
    line-height: 90%;
    font-size: 43px;
}

@mixin mob-big-title {
    font-weight: 900;
    line-height: 90%;
    font-size: 60px;
}
@mixin mob-biger-title {
    font-weight: 900;
    line-height: 90%;
    font-size: 90px;
}
@mixin mob-card-font {
    font-weight: bold;
    line-height: 100%;
    font-size: 33px;
}
@mixin mob-error-font {
    font-weight: 900;
    line-height: 100%;
    font-size: 160px;
}
/* FONTS DESKTOP */

@mixin dkp-smaller-title {
    font-weight: 900;
    line-height: 110%;
    font-size: 26px;
}
@mixin dkp-small-title {
    font-weight: 900;
    line-height: 110%;
    font-size: 30px;
}
@mixin dkp-middle-title {
    font-weight: 900;
    line-height: 100%;
    font-size: 36px;
}
@mixin dkp-big-title {
    font-weight: 900;
    line-height: 100%;
    font-size: 115px;
}
@mixin dkp-big-two-title {
    font-weight: 900;
    line-height: 100%;
    font-size: 60px;
}
@mixin dkp-biger-title {
    font-weight: 900;
    line-height: 120%;
    font-size: 75px;
}
@mixin dkp-biger-two-title {
    font-weight: 900;
    line-height: 120%;
    font-size: 68px;
}
@mixin dkp-card-font {
    font-weight: bold;
    line-height: 110%;
    font-size: 40px;
}
@mixin dkp-error-font {
    font-weight: 900;
    line-height: 100%;
    font-size: 300px;
}

